<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="/style.css">
  <title> Bitmaker CRM </title>
</head>
<body>
  <header>
    <div class="displayheader">
      <!-- <h1>CRM</h1> -->
    </div>
    <nav class="nav">
      <ul class="top-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="#">Add Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; 2018 Bitmaker Labs</p>
  </footer>
</body>
</html>
